<section class="rule">
  <h1 class="title">ルール説明 「ふたりでビンゴ！」</h1>
  <ol>
    <li>2人1組のチームを作って下さい</li>
    <li>2種類のくじを引きます。その2つのクジの組み合わせを見て、</br>パートナーが身につけているものをお互いにチェックして下さい</li>
    <li>パートナーが身につけているものをが、くじと同じだったら1ポイントゲット</br>ポイントゲットするたびに紙に正の字を書いて下さい</li>
    <li>何回かクジを引きます。</br>2人の合計ポイントが高いと豪華賞品がもらえる!!かも??</br>どんなクジが出るかはお楽しみ♪</li>
  </ol>
</section>
<span class="btn btn-large reset"><%= link_to 'Game Reset', {controller: 'costumes', action: 'reset'}, {confirm: 'リセットしますか？'} %></span>
