<section class="rule">
  <section class="explanation">
    <h1 class="title">ルール説明</h1>
    <ol>
      <li>2人1組のチームを作る</li>
      <li>2種類(チェックポイントと色)のくじを引き、その組み合わせで、パートナーの服装をチェックする
      <li>パートナーの服装が、くじに一致したらチェックした人がポイントゲット
    </ol>

    <div class="hint">
      チェック対象には、上着, パンツ, ひざ下, アクセサリーの4種類<br>
      色や柄には、赤, 茶, 青, 黄, 緑, 黒, グレー, 白, アロハ, 沖縄っぽいものの計10種類<br>
      柄( アロハ, 沖縄っぽい )で一致した場合は、2ptゲット( 通常は1pt )<br>
      中にはワイルドカードのような複数の色を指定するようなものも含まれている<br>
    </div>
  </section>

  <section class="example">
    <h1 class="title">進行例</h1>
    <ol>
      <li>くじを引く</li>
      <li>【上着, 白】の組み合わせが出た</li>
      <li>お互いの服をチェックしあう</li>
      <li>パートナーが白っぽい上着を着ていれば1ptゲット</li>
    </ol>

    <div class="hint">
      ＜捕捉＞<br>
      柄( アロハ, 沖縄っぽい )で一致した場合は2ptゲット
    </div>
  </section>
</section>
