<div class="original">
  <%= link_to image_tag("/images/#{@costume.kind}_#{@costume.color}.jpg", size: '100%', alt: 'top'), costumes_path unless @costume.other? %>
  <%= link_to image_tag("/images/#{@costume.kind}_#{@costume.other}.jpg", size: '962x722', alt: 'top'), costumes_path if @costume.other? %>
</div>

<%= link_to 'Destroy', @costume, confirm: '本当に削除しますか？', method: :delete %>
