/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

html {
  overflow-y: scroll;
  height:100%;
}

body {
  padding-top: 60px;
  background: url("/images/background.png") no-repeat;
  background-size: cover;
  /*opacity:0.8;*/
}

section {
  overflow: auto;
}

div.brand span {
  color: #F90;
  border: solid #F90;
  padding: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

div.nth span {
  color: #F90;
  font-size: 24px;
  display: block;
  margin-top: 10px;
}

.flash {
  bottom: 0;
  position: fixed;
  margin-bottom: 5px;
}
