/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

html {
  overflow-y: scroll;
  height:100%;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.top, .boots {
  display: block;
}

.bottom {
  display: block;
  margin-bottom: 20px;
  padding-left: 0;
}

table {
  margin-bottom: 20px;
}

.navbar {
  .brand {
    color: white;
  }
}

.nth {
  font-size: 24px;
  margin-top: 10px;
  color: white;
}

.form {
  bottom: 0;
  position: fixed;
  margin-left: 400px;
  .submit {
    margin-bottom: 10px;
  }
}

.flash {
  bottom: 0;
  position: fixed;
  margin-bottom: 5px;
}
